

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');


.Header-Container{

    font-family:"Bitcount Prop Single", system-ui; ;
    text-align: center;
    border-radius: 15px;
    max-width: 90%;
    margin: auto;
    padding: 10px 20px; 
}

.Header-Title{
    font-size:  3rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
